@import '';

/* /Pages/Collage.razor.rz.scp.css */
.row[b-vzv6lzeua1] {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
/* Create four equal columns that sits next to each other */
.column[b-vzv6lzeua1] {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

    .column img[b-vzv6lzeua1] {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column[b-vzv6lzeua1] {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column[b-vzv6lzeua1] {
        flex: 100%;
        max-width: 100%;
    }
}

[b-vzv6lzeua1] .block {
    position: relative;
}

[b-vzv6lzeua1] .image {
    display: block;
    width: 100%;
}

[b-vzv6lzeua1] .imageoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

[b-vzv6lzeua1] .imageoverlay:hover{
    opacity:1;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-8u4roqvb2i] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-8u4roqvb2i] {
    flex: 1;
}

.sidebar[b-8u4roqvb2i] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-8u4roqvb2i] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-8u4roqvb2i]  a, .top-row .btn-link[b-8u4roqvb2i] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-8u4roqvb2i] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-8u4roqvb2i] {
        display: none;
    }

    .top-row.auth[b-8u4roqvb2i] {
        justify-content: space-between;
    }

    .top-row a[b-8u4roqvb2i], .top-row .btn-link[b-8u4roqvb2i] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-8u4roqvb2i] {
        flex-direction: row;
    }

    .sidebar[b-8u4roqvb2i] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-8u4roqvb2i] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-8u4roqvb2i] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-l8ga26lro8] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-l8ga26lro8] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-l8ga26lro8] {
    font-size: 1.1rem;
}

.oi[b-l8ga26lro8] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-l8ga26lro8] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-l8ga26lro8] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-l8ga26lro8] {
        padding-bottom: 1rem;
    }

    .nav-item[b-l8ga26lro8]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-l8ga26lro8]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-l8ga26lro8]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-l8ga26lro8] {
        display: none;
    }

    .collapse[b-l8ga26lro8] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
