@page "/collage"
@inject HttpClient client

<div class="row">
    <div class="column">
        @for (int i = 0; i < totalAlbums; i += 4)
        {
            <AlbumArtComponent Alb=Albums[i] />
        }
    </div>
    <div class="column">
        @for (int i = 1; i < totalAlbums; i += 4)
        {
            <AlbumArtComponent Alb=Albums[i] />
        }
    </div>
    <div class="column">
        @for (int i = 2; i < totalAlbums; i += 4)
        {
            <AlbumArtComponent Alb=Albums[i] />
        }
    </div>
    <div class="column">
        @for (int i = 3; i < totalAlbums; i += 4)
        {
            <AlbumArtComponent Alb=Albums[i] />
        }
    </div>
</div>

@code {
    Album[] Albums { get; set; }
    int totalAlbums;

    protected override async Task OnInitializedAsync()
    {
        Albums = await client.GetFromJsonAsync<Album[]>("api/albums");
        totalAlbums = Albums.Length;
        Console.WriteLine(totalAlbums);
    }
}
